{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html>
<html>
<head>
	<link rel="icon" href="{% static 'base/bash.png' %}">
	<title>{{ type }}</title>
	<meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous">
</script>

<style>





* {
   box-sizing: border-box;
}
h1 {
   text-align: center;
}
.outer-grid {
   display: flex;
   flex-wrap: wrap;
   padding: 0 4px;
}
.inner-grid {
   flex: 25%;
   max-width: 25%;
   padding: 0 4px;
}
.inner-grid img {
   margin-top: 8px;
   width: 100%;
   padding: 10px;
}
@media screen and (max-width: 800px) {
   .inner-grid {
      flex: 50%;
      max-width: 50%;
   }
}
@media screen and (max-width: 600px) {
   .inner-grid {
      flex: 100%;
      max-width: 100%;
   }
}
</style>

<body class="container mt-3 mb-3">
	<ul class="nav nav-pills nav-fill">
	  <li class="nav-item">
	    <a class="nav-link" aria-current="page" href="{% url 'base:home' %}">Home</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="{% url 'base:blog' 5 %}">Blog</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="{% url 'base:profile' %}">Profile</a>
	  </li>

    <li class="nav-item dropdown">
	    <a class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">{{ choice }}</a>

	    <ul class="dropdown-menu">
	      <li><a class="dropdown-item" href="{% url 'base:files' 'all' %}">All Files</a></li>
	      <li><hr class="dropdown-divider"></li>
	      <li><a class="dropdown-item" href="{% url 'base:files' 'musics' %}">Musics</a></li>
	      <li><a class="dropdown-item" href="{% url 'base:files' 'images' %}">Images</a></li>
	      <li><a class="dropdown-item" href="{% url 'base:files' 'files' %}">Files</a></li>
	    </ul>

	  </li>
	</ul>
	<br>
	
	{% if choice == 'All' %}

	<h4>Files</h4>
	<ul class="list-group d-flex">
		{% for file in files %}
			<a class="list-group-item" href="{{ file.file.url }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-files" viewBox="0 0 16 16">
	  <path d="M13 0H6a2 2 0 0 0-2 2 2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 13V4a2 2 0 0 0-2-2H5a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1zM3 4a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4z"/>
	</svg> {{ file.name }}</a>
		{% endfor %}
	</ul>
	<br>




		<h4>Musics</h4>
		<div class="row row-cols-1 row-cols-md-3 g-4">
			{% for music in musics %}
				<div class="col">
					<div class="card h-100">
					  <img src="{{ music.image.url }}" class="card-img-top" alt="...">
					  <div class="card-body">
					    <h6 class="card-title">{{ music.name }}</h6>
					    {% if music.artist %}
					    <p class="card-text text-muted">{{ music.artist }}</p>
					    {% endif %}
					  </div>
					  <div class="card-footer">
				    	<a class="btn btn-primary btn-sm" href="{{ music.file.url }}">Download</a>
				    	<!--<audio controls class="m-3 d-flex">
						  <source src="{{ music.file.url }}" type="audio/mp3">
						</audio>-->
				    	{% if music.lyrics %}
					    	<button href="#" class="float-end btn btn-outline-success btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal{{ music.id }}">Lyrics</button>

					    	<!-- Modal -->
								<div class="modal fade" id="exampleModal{{ music.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
								  <div class="modal-dialog">
								    <div class="modal-content">
								      <div class="modal-header">
								        <h1 class="modal-title float-center fs-5" id="exampleModalLabel"><h5 class="text-center">{{ music.name }}</h5></h1>
								        <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>
								      </div>
								      <div class="modal-body">
								        <div class="p-3">
										    <a style="text-decoration-line: none"  ></a>
										    <p class="text-start">{{ music.lyrics }}</p>
										  </div>
								      </div>
								      
								    </div>
								  </div>
								</div>
						{% endif %}
				      </div>
					</div>
				</div>
				<br>
			{% endfor %}
		</div>
		<br>

		<h4>Images</h4>
		<div class="outer-grid">
			{% for image in images %}
			    <div class="inner-grid border">
			      <img src="{{ image.image.url }}" class="" width="110px" height="auto">
			    </div>
			{% endfor %}
		</div>
	{% endif %}

	{% if choice == 'Musics' %}
		<div class="row row-cols-1 row-cols-md-3 g-4">
			{% for music in musics %}
				<div class="col">
					<div class="card h-100">
					  <img src="{{ music.image.url }}" class="card-img-top" alt="...">
					  <div class="card-body">
					    <h6 class="card-title">{{ music.name }}</h6>
					    {% if music.artist %}
					    <p class="card-text text-muted">{{ music.artist }}</p>
					    {% endif %}
					  </div>
					  <div class="card-footer">
				    	<a class="btn btn-primary btn-sm" href="{{ music.file.url }}">Download</a>
				    	<!--<audio controls class="m-3 d-flex">
						  <source src="{{ music.file.url }}" type="audio/mp3">
						</audio>-->
				    	{% if music.lyrics %}
					    	<button href="#" class="float-end btn btn-outline-success btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal{{ music.id }}">Lyrics</button>

					    	<!-- Modal -->
								<div class="modal fade" id="exampleModal{{ music.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
								  <div class="modal-dialog">
								    <div class="modal-content">
								      <div class="modal-header">
								        <h1 class="modal-title float-center fs-5" id="exampleModalLabel"><h5 class="text-center">{{ music.name }}</h5></h1>
								        <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>
								      </div>
								      <div class="modal-body">
								        <div class="p-3">
										    <a style="text-decoration-line: none"  ></a>
										    <p class="text-start">{{ music.lyrics }}</p>
										  </div>
								      </div>
								      
								    </div>
								  </div>
								</div>
						{% endif %}
				      </div>
					</div>
				</div>
				<br>
			{% endfor %}
		</div>
	{% endif %}


	{% if choice == 'Images' %}
		{% for image in images %}
			<img src="{{ image.image.url }}" class="img-thumbnail">
		
		{% endfor %}
	{% endif %}


	{% if choice == 'Files' %}
		<ul class="list-group d-flex">
		{% for file in files %}
			<a class="list-group-item" href="{{ file.file.url }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-files" viewBox="0 0 16 16">
	  <path d="M13 0H6a2 2 0 0 0-2 2 2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 13V4a2 2 0 0 0-2-2H5a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1zM3 4a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4z"/>
	</svg> {{ file.name }}</a>
		{% endfor %}
	</ul>
	{% endif %}







</body>