{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html>
<html>
<head>
	<link rel="icon" href="{% static 'base/bash.png' %}">
	<title>{{ type }}</title>
	<meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous">
</script>


<style type="text/css">
	@media only screen and (min-width: 768px) {
		
	}

	@media only screen and (max-width: 768px) {
		
	}
</style>


<body class="container mt-3 mb-3">
	<ul class="nav nav-pills nav-fill">
	  <li class="nav-item">
	    <a class="nav-link active" aria-current="page" href="{% url 'base:home' %}">Home</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="{% url 'base:blog' 5 %}">Blog</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="{% url 'base:profile' %}">Profile</a>
	  </li>
	  <li class="nav-item">
	    <a href="{% url 'base:files' 'all' %}" class="nav-link">Files</a>
	  </li>
	</ul>
	<br>
	<h2 class="text-end">به وبلاگ مقصد نهایی خوش امدید</h2>
	<p class="text-end">این بلاگ برای اشتراک گذاری اهنگ و متن های و اتفاقات روزانه و اموزش های ساده ساخته شده همینو بس ! امیدوارم از وبلاگ لذت ببرید و نهایت استفاده رو بکنید :))</p><br>
	<div class="row">
		<h4 class="text-end text-primary">مطالب پین شده <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pin-fill" viewBox="0 0 16 16">
  <path d="M4.146.146A.5.5 0 0 1 4.5 0h7a.5.5 0 0 1 .5.5c0 .68-.342 1.174-.646 1.479-.126.125-.25.224-.354.298v4.431l.078.048c.203.127.476.314.751.555C12.36 7.775 13 8.527 13 9.5a.5.5 0 0 1-.5.5h-4v4.5c0 .276-.224 1.5-.5 1.5s-.5-1.224-.5-1.5V10h-4a.5.5 0 0 1-.5-.5c0-.973.64-1.725 1.17-2.189A5.921 5.921 0 0 1 5 6.708V2.277a2.77 2.77 0 0 1-.354-.298C4.342 1.674 4 1.179 4 .5a.5.5 0 0 1 .146-.354z"/>
</svg></h6>
		{% if posts %}
			{% for post in posts %}
				<div class="card col rounded m-2">
				  <div class="p-3">
				    <a style="text-decoration-line: none" href="{% url 'base:post_detail' post.slug  %}" data-bs-toggle="modal" data-bs-target="#exampleModal{{ post.id }}"><h5 class="text-end">{{ post.title }}</h5></a>
				    <p class="text-end">{{ post.content | slice:":200" }}</p>
				  </div>


					<!-- Modal -->
					<div class="modal fade" id="exampleModal{{ post.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h1 class="modal-title float-center fs-5" id="exampleModalLabel"><h5 class="text-center">{{ post.title }}</h5></h1>
					        <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>
					      </div>
					      <div class="modal-body">
					        <div class="p-3">
							    <a style="text-decoration-line: none" href="{% url 'base:post_detail' post.slug  %}" ></a>
							    <p class="text-end">{{ post.content }}</p>
							  </div>
					      </div>
					      {% if post.image or post.file %}
						      <div class="modal-footer">
						      	<a style="text-decoration-line: none;" href="{{ post.file.url }}"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
		}
	<path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z"/>
	</svg> {{ post.file }}</a>
						        <img class="rounded mt-3" src="{{ post.image.url }}" width="100%" height="auto">
						      </div>
						  {% endif %}
					    </div>
					  </div>
					</div>

				  
				  
				</div>
			{% endfor %}
		{% else %}
			<div class="alert alert-danger" role="alert">
			  There is no Posts yet!
			</div>
		{% endif %}
		</div>
	</div><br>

	<h4>Musics</h4>
		<div class="row row-cols-1 row-cols-md-3 g-4">
			{% for music in musics %}
				<div class="col">
					<div class="card h-100">
					  <img src="{{ music.image.url }}" class="card-img-top" alt="...">
					  <div class="card-body">
					    <h6 class="card-title">{{ music.name }}</h6>
					    <p class="card-text text-muted">{{ music.artist }}</p>
					  </div>
					  <div class="card-footer">
				    	<a class="btn btn-primary btn-sm" href="{{ music.file.url }}">Download</a>
				    	<!--<audio controls class="m-3 d-flex">
						  <source src="{{ music.file.url }}" type="audio/mp3">
						</audio>-->
				    	{% if music.lyrics %}
					    	<button href="#" class="float-end btn btn-outline-success btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal{{ music.id }}">Lyrics</button>

					    	<!-- Modal -->
								<div class="modal fade" id="exampleModal{{ music.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
								  <div class="modal-dialog">
								    <div class="modal-content">
								      <div class="modal-header">
								        <h1 class="modal-title float-center fs-5" id="exampleModalLabel"><h5 class="text-center">{{ music.name }}</h5></h1>
								        <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>
								      </div>
								      <div class="modal-body">
								        <div class="p-3">
										    <a style="text-decoration-line: none"  ></a>
										    <p class="text-start">{{ music.lyrics }}</p>
										  </div>
								      </div>
								      
								    </div>
								  </div>
								</div>
						{% endif %}
				      </div>
					</div>
				</div>
				<br>
			{% endfor %}
</body>