{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="icon" href="{% static 'base/bash.png' %}">
  <title>{{ type }}</title>
  <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body class="container mt-3 mb-3">
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="{% url 'base:home' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'base:blog' %}">Blog</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'base:profile' %}">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">Disabled</a>
    </li>
  </ul>
  <br>

  <div class="m-3 p-1">
    <div class="row">
      <div class="col-md-12 card mb-4  mt-3 left top">
        <div class="card-body">

          <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
          <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
          
          <p class="card-text ">{{ post.content }}</p>
          <a style="text-decoration-line: none;" href="{{ post.file.url }}"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
  <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z"/>
</svg> {{ post.file }}</a>
          <br>
          {% if post.image %}
            <img class="rounded mt-3" src="{{ post.image.url }}" width="100%" height="auto">
          {% endif %}
        </div>
      </div>
    </div>
  </div>

</body>
</html>
