{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html>
<html>
<head>
	<link rel="icon" href="{% static 'base/bash.png' %}">
	<title>{{ type }}</title>
	<meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body class="container mt-3 mb-3">
	<ul class="nav nav-pills nav-fill">
	  <li class="nav-item">
	    <a class="nav-link" aria-current="page" href="{% url 'base:home' %}">Home</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="{% url 'base:blog' 5 %}">Blog</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link active" href="{% url 'base:profile' %}">Profile</a>
	  </li>
	  <li class="nav-item">
	    <a href="{% url 'base:files' 'all' %}" class="nav-link">Files</a>
	  </li>
	</ul>
	<br>

	<div class="card float-end" style="width: 18rem;">
	  <img src="/media/elephant.png" class="card-img-top" alt="...">
	  <div class="card-body">
	    <h5 class="card-title">Mr. Elephant</h5>
	    <p class="card-text text-end">this is a ilusionary person on the internet for making the word beter place to live !</p>
	  </div>
	</div>

<br>
</body>